@{
    ViewData["Title"] = "Katılımcılar";
}

<h3 class="text-center">Katılımcılar</h3>

<form asp-controller="User" asp-action="Search" method="post">
    <div id="div_search">
        <input class="form-control" type="text" placeholder="Search ... " name="searchWord" id="searchWord" required/>
        <button class="btn btn-success" type="submit">Search..</button>
    </div>
</form>

@await Component.InvokeAsync("UsersTable")


