@{
    ViewData["Title"] = "Anasayfa";
}

@section Header{
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">PARTY</h1>
            <p class="lead">Bütün arkadaşların bu partide!</p>
            <a class="btn btn-lg btn-light" asp-controller="home" asp-action="KayitForm">Partiye Katılmak İçin Tıkla</a>
        </div>
    </header>
}

<h1>Katılımcılar- userleri listele agam</h1>