<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" asp-controller="Category" asp-action="Index"><strong>PARTY</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Create">Kayıt Ol</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="Index">Katılımcılar</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Party" asp-action="Index">Partiler</a></li>
            </ul>
        </div>
    </div>
</nav>